html, body {
    margin: 0;
    padding: 0;
    font-family: "Mukta", sans-serif;
}

body, .modal-content {
    background-image: url(../images/background.png);
    background-repeat: repeat;
}

.mukta-extralight {
    font-weight: 200;
    font-style: normal;
  }
  
  .mukta-light {
    font-weight: 300;
    font-style: normal;
  }
  
  .mukta-regular {
    font-weight: 400;
    font-style: normal;
  }
  
  .mukta-medium {
    font-weight: 500;
    font-style: normal;
  }
  
  .mukta-semibold {
    font-weight: 600;
    font-style: normal;
  }
  
  .mukta-bold {
    font-weight: 700;
    font-style: normal;
  }
  
  .mukta-extrabold {
    font-weight: 800;
    font-style: normal;
  }
  
.konten-daftar {
    display: grid;
    grid-template-columns: minmax(360px, 1fr);
    grid-template-areas: 'daftar'
        'detail';
}

.container {
    display: grid;
    grid-template-columns: minmax(360px, 450px);
    place-content: center;
    grid-template-areas: 'login';
}
.form-login {
    grid-area: login;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
}
.form-login h1:nth-child(1){
    margin-top: 8vh;
    margin-bottom: 25px;
}
.input_password{
    position: relative;
}
span.mata {
    position: absolute;
    top: 11px;
    right: 15px;
}
.form-login img:last-child{
    margin-top: 28px;
}
span.fa {
    top: 5;
    right: 0;
}

.konten-menu {
    display: grid;
    grid-template-columns: minmax(360px, 600px);
    place-content: center;
    margin-top: 1rem;
}
.konten-menu img {
    place-self: center;
    margin-bottom: 1.5rem;
}
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    row-gap: 1.5rem;
}
.menu a {
    font-size: 1.2rem;
    text-align: center;
}

.konten-bendahara {
    display: grid;
    grid-template-columns: minmax(360px, 450px);
    place-content: center;
    margin-top: 1rem;
    grid-template-areas: 'search'
        'tabel';
}
.bendahara-search {
    grid-area: search;
    display: grid;
    grid-template-columns: 60px 1fr 80px;
    column-gap: 5px;
    place-items: center;
}
.bendahara-search a {
    font-size: 1rem;
    text-align: center;
}